body {
  background-color: #2d232e; // #f0f2f5;
}
.main {
  color: #e0ddcf;
  margin-top: 5rem;
  text-align: justify;
  img {
    width: 60px;
    // height: 60px;
  }
}
.Hi {
  color: #534b52;
  font-size: 20px;
  font-weight: bold;
}
.FullName {
  h1 {
    font-family: Merienda;
    font-size: 80px;
    color: #534b52;
    text-shadow: #e0ddcf 2px 5px;
    margin-left: 20px;
  }
}
// .mail {
//   position: absolute;
//   bottom: 200px;
//   right: 10px;
//   transform: rotate(90deg);
// }
