.projects {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  justify-content: center;
  background-image: url("/Logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 5rem;
  //background-color: darkgrey;
}

.cardsWrapper {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: black;
}
.projectsDiv{
  background-color: white;
  margin-top: 1rem;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
  box-shadow: rgba(10, 10, 10, 0.24) 0px 3px 8px;
  //height: 80px;
}

h2 {
  color: black;;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
  //color: #e0ddcf;
}

@media only screen and (max-width: 800px) {
  .projects {
    align-items: center;
    background-image: none;
  }
  .cardsWrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
