:root {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #e0ddcf;
}

@media only screen and (max-width: 800px) {
  :root {
    width: 100%;
  }
}
